.empty-task-card {
    display: flex;
    text-align: center;
    background-color: #FCFCFC;
    border: 1px solid #3C424A;
    border-radius: 8px;
    width: 674.37px;
    height: 61.73px;
    margin-bottom: 37px;
}

.empty-task-card h1 {
    margin-top: 20.83px;
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 15.46px;
    color: #25282C;
}